<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Taller Responsive
	link(rel="shortcut icon", href="./favicon.ico")
	meta(name="description", content="Escribe una descripción breve del proyecto")
	meta(name="author", content="Escribe la persona o empresa que esta desarrollando el proyecto")
	meta(name="viewport", content="initial-scale=1, maximum-scale=1")
	link(rel="stylesheet", href="css/estilos.css")

body
	h1 hola

	script(src="/js/app.js")