<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Proyecto Perritos
	meta(name="viewport", content="initial-scale=1, maximum-scale=1")
	link(rel="stylesheet", href="css/estilos.css")

body
	h1 hola

	script(src="/js/app.js")